################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/asynchronous-demo/obj/Debug/net5.0-windows
/asynchronous-demo/obj
